.wrap {
  padding-bottom: 40px;
}
body>footer{
  background-color: #E6E6E6;
  height: 30px;
  bottom: 0px;
  width: 390px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  margin: 0px;
  left: 0px;
}
body>footer>button{
  background: #E6E6E6;
  border: none;
  height: 30px;
  width: 30px;
  padding: 0px;
}

body>footer>button>img{
  height: 30px;
  width: auto;
}
#plus{
  float: left;
  margin-left: 40px;
}
#sub{
  float:right;
  margin-right: 40px;
}
